#About-me {
    display: flex;
    width: 85%;  
    margin: auto; 
    justify-content: center;
    gap: 8rem;
    
}

#About-me img{
    width: 60%;
    border-radius: 10px;
}

.abt-me {
    width: 100%;
    font-size: 20px; 
}

.abt-me button{
    background-color: orange;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    margin: auto;
    display: block;
}